@import '../../../palette.scss';

.action-item {
  display: flex;
  align-items: center;
  &.fn {
    color: blue;
  }

  &.msg {
    color: #1cbd57;

    .missingTranslation {
      color: red;
    }
  }

  &.condition {
    color: black;
  }

  .icon {
    margin-right: 8px;
  }

  &.rtl {
    .icon {
      margin-right: unset;
      margin-left: 8px;
    }
  }

  .name {
    line-height: 1.25;
    margin-right: 10px;

    span {
      padding: 2px 4px;
      border-radius: 2px;
    }

    :global(.var) {
      background-color: #e7f0ff;
      color: blue;
    }

    :global(.val) {
      background-color: #fff5ea;
      color: #ff7c40;
    }
  }
}

.popoverContent {
  padding: 10px;
}

.extraItems {
  color: $content-color-light;
  display: block;
  font-size: 12px;
  margin-top: 5px;
}

.editableInput {
  line-height: 22px;
  font-size: 18px;
  font-weight: 300;
  color: #000;

  &.defaultValue {
    font-style: italic;
    font-weight: 400;
    color: #999;
  }

  width: 200px;

  border: 1px solid #fff;
  padding: 2px 5px;
  border-radius: 3px;

  &:hover {
    border: 1px solid #eee;
  }

  &:focus {
    outline-color: transparent;
    outline-style: none;
    font-weight: 300;
    font-style: normal;
    border: 1px solid #2d74f3;
  }
}

.imagePreview {
  height: 40px;
}

.rtl {
  direction: rtl;
}
